PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=rewardverse_user
DB_PASSWORD=Rewardverse@123
DB_NAME=rewardverse_db
JWT_SECRET=rewardverse_super_secret_jwt_key_2026
ADMIN_PASSWORD=admin_rewardverse_secure_pass
FCM_SERVICE_ACCOUNT_PATH=./config/service-account.json
# Or paste the entire JSON string directly (great for Docker/Dokploy environments)
FCM_SERVICE_ACCOUNT_JSON='{"type": "service_account", ...}'

# SMTP Email Configuration (Used for sending redeem codes)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM="Rewardverse" <your-email@gmail.com>

# Ad Network Postback Secrets
PLAYTIME_APP_KEY=59c2f0110111f993
PLAYTIME_APP_SECRET=9GAVPWIXW5SB3QGD
OFFERMARU_S2S_SECRET=b38c7127c0b72528637466fd703e2eac90a7b033b54339a7399709292f2c8043
